:root {
    /* Colors */
    --background-color: #FFFFFF;
    --accent-color: #EBA51B;
    --header-background: #002E5D;
    --secondary-color: #CDCDCD;
    --hover-color: #F95738;

    /* Fonts */
    --header-font: "Fira Sans", sans-serif;
    --body-font: "Playfair Display", serif;
    --heading-font: "Sue Ellen Francisco", cursive;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* ===== HEADER ===== */

header {
    display: grid;
    grid-template-columns: 50px auto 60px;
    padding: 5px 0 5px 10px;
    background-color: var(--header-background);
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: 80px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-family: var(--header-font);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: start;
}


/* ===== HAMBURGER MENU ===== */
.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    right: 0px;
}

.hamburger::after {
    content: "\2630";
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 3rem;
    font-weight: lighter;
}

/* ===== NAVIGATION MENU ===== */

.nav-menu {
    display: none;
    font-family: var(--header-font);
    font-size: 1.2rem;
}

.nav-menu ul li {
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
}